---
//

import { FiChevronRight } from "react-icons/fi";

import {
  formatShowDate,
  formatShowTime,
  getDayOfWeek,
  getDate,
  getTime,
} from "../../lib/dateHelpers";

const { event, index, classes = "" } = Astro.props;
---

<a
  class={`group relative mx-auto w-full text-left md:text-left grid max-w-xxl items-center gap-8 py-8 font-body text-black md:grid-cols-3 duration-200 ${classes}`}
  href={`/schedule/${event.slug.current}`}
  aria-label={`View more details about the show on ${formatShowDate(event.date)}`}
>
  <div class="">
    <h3 class="text-primary-600 gap-1 font-heading text-4xl uppercase">
      {formatShowDate(event.date)}
    </h3>
    <time class="gap-4 text-2xl font-light" datetime={event.date}>
      {formatShowTime(event.date)}
    </time>
  </div>

  <div class="col-span-1 md:col-span-2">
    <h4
      class="font-heading text-2xl text-black/80 transition-colors group-hover:text-accent-900 sm:text-4xl md:text-2xl lg:text-4xl"
    >
      {event.venue.name}
    </h4>

    <address class="text-xl font-light not-italic lg:text-2xl">
      {event.venue.address.city}, {event.venue.address.state}
    </address>
  </div>

  <div
    class="mt-4 flex items-center justify-end gap-2 rounded-full px-4 py-2 font-light uppercase text-black/80 group-hover:bg-accent-700 group-hover:text-white md:absolute md:bottom-4 md:right-4 md:col-start-3"
  >
    More info
    <FiChevronRight className="text-black/80 group-hover:text-white" />
  </div>
</a>
