---
//

import { FiChevronRight } from "react-icons/fi";

import {
  formatShowDate,
  formatShowTime,
  getDayOfWeek,
  getDate,
  getTime,
} from "../../lib/dateHelpers";

const { event, index } = Astro.props;
---

<article
  class={`mx-auto w-full text-center md:text-left grid max-w-xxl items-center gap-8 py-8 px-4 font-body text-black md:grid-cols-3 duration-200`}
>
  <div class="">
    <h2 class="text-primary-600 gap-1 font-heading text-4xl uppercase">
      {formatShowDate(event.date)}
    </h2>
    <time class="gap-4 text-2xl font-light" datetime={event.date}>
      {formatShowTime(event.date)}
    </time>
  </div>

  <div class="col-span-1 md:col-span-2">
    <h3 class="">
      <a
        class="font-heading text-2xl text-black/80 sm:text-4xl md:text-2xl lg:text-4xl"
        href={`/venues/${event.venue.slug.current}`}
        aria-label={`View ${event.venue.name} page`}
      >
        {event.venue.name}
      </a>
    </h3>

    <address class="text-xl font-light not-italic lg:text-2xl">
      {event.venue.address.city}, {event.venue.address.state}
    </address>
  </div>

  <a
    class="flex w-full items-center justify-center gap-2 font-light uppercase text-black/80 md:col-start-3 md:justify-end"
    href={`/${event.slug.current}`}
    aria-label={`View more details about the show on ${formatShowDate(event.date)}`}
  >
    More info
    <FiChevronRight className="text-black/80" />
  </a>
</article>
