---
import { getDayOfWeek, getDate, getTime } from "../../lib/dateHelpers";

const { event, index } = Astro.props;
---

<div
  class={`mx-auto w-full grid max-w-xxl items-center gap-4 p-8 font-body text-black md:grid-cols-5 `}
>
  <div class="flex gap-1 font-heading text-2xl">
    <p>{getDayOfWeek(event.date, "short")},</p>
    <p>{getDate(event.date)}</p>
  </div>
  <div class="flex gap-4">
    <p>{getTime(event.date)}</p>
  </div>

  <!-- Style this to look like a link -->
  <a
    class="font-heading text-xl hover:underline"
    href={`/venues/${event.venue.slug.current}`}
  >
    {event.venue.name}
  </a>
  <p>
    {event.venue.address.city}, {event.venue.address.state}{" "}
  </p>
  <a
    class="button-secondary flex w-full items-center justify-center justify-self-end border-black text-center md:w-24 lg:justify-self-center"
    href={`/${event.slug.current}`}
  >
    More Info
  </a>
</div>
