---
import ParallaxBackgroundImage from "../global/ParallaxBackgroundImage.astro";

import defaultImage from "../../assets/images/layered-peaks-bg.svg";

// Types
import type { ImageMetadata } from "astro";

type Props = {
  headline: string;
  subtext: string;
  coverImage: string | ImageMetadata;
};

const { headline = "", subtext = "", coverImage } = Astro.props;

console.log("coverImage", coverImage);
---

<section id="header" class="relative px-[5%] pt-12">
  <div class="mx-auto max-w-lg py-16 text-center md:py-24 lg:py-28">
    <div>
      <h1
        class="mb-5 font-heading text-6xl text-white md:mb-6 md:text-9xl lg:text-10xl"
      >
        {headline}
      </h1>
      <h2 class="font-body text-3xl font-bold text-white">
        {subtext}
      </h2>
    </div>
  </div>

  <!-- Check if coverImage is null and use defaultImage -->
  <!-- it should only ever be one of these: -->
  {
    !coverImage && (
      <ParallaxBackgroundImage
        imageMetaData={defaultImage}
        overlayClassName="bg-black/50"
      />
    )
  }
  <!-- {
    typeof coverImage === "string" && (
      <ParallaxBackgroundImage
        imgSrc={coverImage}
        overlayClassName="bg-black/60"
      />
    )
  }
  {
    typeof coverImage === "object" && (
      <ParallaxBackgroundImage
        imageMetaData={coverImage}
        overlayClassName="bg-black/60"
      />
    )
  } -->
</section>
