---
/**
 * Venues Page
 *
 * This page displays all of the venues that The Benderz frequent.
 * Fetches venues from Sanity and displays them in a grid.
 * Each venue card links to a page that displays more information about the venue.
 */

export const prerender = false;

// Components
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import { FiChevronRight } from "react-icons/fi";
import { TitleHeaderSubpage } from "@/components";
import ContactSection from "@/components/global/ContactSection";

// Images
import defaultImage from "@/assets/images/layered-peaks-bg.svg";

// Data
import { seo } from "@/data/seo";

// Types
import type { Venue } from "@/types/types";

// Get all venues
import { getVenues } from "@/lib/sanity";
const venues = await getVenues();

// Content
const content = {
  heading: "Venues",
  description: "We get to play some of the best venues in the world! 🌎",
};
---

<Layout seo={seo.venues}>
  <TitleHeaderSubpage
    headline={content.heading}
    description={content.description}
  />
  <section class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        {
          venues.map((venue: Venue) => (
            <a
              href={`/venues/${venue.slug.current}`}
              class="group relative overflow-hidden rounded-sm bg-gradient-to-br from-white to-gray-100 shadow-xsmall transition-shadow duration-300 hover:shadow-small"
              aria-label={`View ${venue.name} venue`}
            >
              {venue.image?.asset?.url ? (
                <img
                  src={venue.image.asset.url}
                  alt={`${venue.name} venue`}
                  class="h-48 w-full object-cover"
                />
              ) : (
                <Image
                  src={defaultImage}
                  alt={`${venue.name} venue`}
                  class="h-48 object-cover"
                  widths={[400, 500, 600, 700]}
                  sizes="100%"
                />
              )}
              <div class="p-6">
                <h2 class="mb-2 font-heading text-2xl">{venue.name}</h2>
                <div class="font-body text-gray-600">
                  <p>{venue.address.streetAddress}</p>
                  <p>
                    {venue.address.city}, {venue.address.state}{" "}
                    {venue.address.zip}
                  </p>
                </div>
              </div>
              <div
                class="flex items-center justify-end gap-2 rounded-sm p-4 font-light uppercase text-black/80 group-hover:bg-gradient-to-r group-hover:from-transparent group-hover:to-accent-700 group-hover:to-50% group-hover:text-white"
                aria-label={`View more details about ${venue.name} venue`}
              >
                View Upcoming Shows
                <FiChevronRight className="text-black/80  group-hover:text-white" />
              </div>
            </a>
          ))
        }
      </ul>
    </div>
  </section>
  <ContactSection
    client:load
    heading="Reach out"
    body="Did you see us at one of these venues and want to book us for your event? We'd love to hear from you!"
  />
</Layout>
