---
// Types
import type { SeoMeta } from "@/data/seo";

// Canonical URL
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);

// Destructure props
const {
  title = "The Benderz | Your Party Starts Here",
  description = "The Benderz are a high-energy party band from Philly, bringing nonstop music and electric vibes to clubs, casinos, and private events up and down the East Coast.",
  url = canonicalUrl.toString(),
  image = "/images/opengraph.png",
} = Astro.props as SeoMeta;
---

<!-- Meta -->
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={url} />

<!-- Open Graph / Facebook -->
<meta property="og:url" content={url} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="thebenderz.com" />
<meta property="twitter:url" content={url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
