---
/**
 * Schedule Page
 * src/pages/schedule.astro
 *
 * This page is used to display the schedule of upcoming events.
 * It includes a list of upcoming shows at the venue.
 */

// Lib
import { getFutureEvents } from "@/lib/sanity";

// Components
import Layout from "@/layouts/Layout.astro";
import { TitleHeaderSubpage, ContactSection } from "@/components";
import ScheduleEvent from "@/components/schedule/ScheduleEvent.astro";

// Data
import { seo } from "@/data/seo";

// Types
import type { Event } from "@/types/types";

// Content
const content = {
  header: {
    heading: "Schedule",
    body: "The Benderz deliver unforgettable performances, uniting music lovers through energy and passion for every occasion.",
  },
  contactSection: {
    heading: "Say Hello 👋",
    body: "We'd love to hear from you! Please use the form below to get in touch with us.",
  },
};

const events = await getFutureEvents();
---

<Layout seo={seo.schedule}>
  <TitleHeaderSubpage
    headline={content.header.heading}
    description={content.header.body}
  />
  <div class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      {
        events.map((event: Event, index: number) => {
          const getMonthHeader = (event: Event, index: number) => {
            const date = new Date(event.date);

            if (
              index === 0 ||
              date.getMonth() !== new Date(events[index - 1].date).getMonth()
            ) {
              return (
                <div class="py-12 sm:py-16">
                  <h2 class="inline-block font-heading text-6xl sm:text-8xl">
                    {date.toLocaleString("default", {
                      month: "long",
                      year: "numeric",
                    })}
                  </h2>
                  <div class="inline-block w-full bg-gradient-to-r from-accent-700/15 to-transparent py-2" />
                </div>
              );
            }
            return null;
          };
          return (
            <>
              {getMonthHeader(event, index)}
              <ScheduleEvent
                event={event}
                index={index}
                classes="p-8 shadow-xsmall hover:shadow-small rounded-sm bg-gradient-to-br from-white to-gray-100"
              />
            </>
          );
        })
      }
    </div>
  </div>
  <ContactSection
    client:load
    heading={content.contactSection.heading}
    body={content.contactSection.body}
  />
</Layout>
