---
/**
 * Home - TestimonialBlockParallax
 *
 * Relume Component: Testimonial 4
 *
 * @param quote - The quote to display
 * @param author - The author of the quote
 * @param title - The title of the author
 * @param avatarImage - The image of the author
 * @param backgroundImage - The background image of the testimonial
 */

// Global Components
import { BiSolidStar } from "react-icons/bi";
import ParallaxBackgroundImage from "../global/ParallaxBackgroundImage.astro";
import { Image } from "astro:assets";

import dividerTop from "../../assets/images/shape-dividers/shredded-paper-top.svg";
import dividerBottom from "../../assets/images/shape-dividers/shredded-paper-bottom.svg";

// Props
interface Props {
  quote: string;
  author: string;
  title: string;
  avatarImage: ImageMetadata;
  backgroundImage: ImageMetadata;
}
const { quote, author, title, avatarImage, backgroundImage } = Astro.props;
---

<section
  id="testimonial"
  class="relative px-[5%] py-16 text-white md:py-24 lg:py-28"
>
  <div class="container">
    <div class="mx-auto w-full max-w-lg text-center">
      <div class="mb-6 flex items-center justify-center md:mb-8">
        {
          Array.from({ length: 5 }).map((_, index) => (
            <BiSolidStar className="size-6 text-yellow-300" />
          ))
        }
      </div>
      <blockquote class="font-body text-xl font-bold md:text-2xl">
        {quote}
      </blockquote>
      <div
        class="mt-6 flex w-full flex-col items-center justify-center gap-3 text-center md:mt-8 md:w-auto md:flex-row md:gap-5 md:text-left"
      >
        <div>
          <Image
            src={avatarImage}
            alt={`${avatarImage}`}
            class="size-14 min-h-14 min-w-14 rounded-full object-cover"
          />
        </div>
        <div class="mb-4 md:mb-0">
          <p>{author}</p>
          <p>{title}</p>
        </div>
      </div>
    </div>
  </div>
  <ParallaxBackgroundImage
    imageMetaData={backgroundImage}
    overlayClassName="bg-black/50"
  />
</section>
