---
/**
 * The Benderz Playlist
 *
 * Relume Component: Layout300
 */

// Global Components
import { Button } from "@relume_io/relume-ui";
import { Image } from "astro:assets";

// Images
import top40 from "../../assets/images/hero-1.jpg";
import weddingClassics from "../../assets/images/hero-2.jpg";
import clubStaples from "../../assets/images/hero-3.jpg";
import rockSingalongs from "../../assets/images/the-benderz-wedding-crowd.jpg";

// Content
const kicker = "The Benderz Playlist";
const headline = "Our Playlist has something for everyone.";
const body =
  "Our goal is to get your party on the dance floor. That's why we pride ourselves on our diverse setlist from 'September' to 'Mr. Brightside'.";

const cards = [
  {
    image: top40,
    title: "Top 40 Hits",
    description: "To keep your friends singing 🎤",
    alt: "Top 40 Hits",
  },
  {
    image: weddingClassics,
    title: "Wedding Classics",
    description: "To keep your parents happy 😉",
    alt: "Wedding Classics",
  },
  {
    image: clubStaples,
    title: "Club Staples",
    description: "To keep the dance floor moving 🕺",
    alt: "Club Staples",
  },
  {
    image: rockSingalongs,
    title: "Rock Singalongs",
    description: "To keep the party rockin' 🎸",
    alt: "Rock Singalongs",
  },
];

const buttons = [
  {
    title: "View Playlist",
    href: "/playlist",
  },
  {
    title: "View Schedule",
    href: "/schedule",
  },
];
---

<section id="the-benderz-playlist" class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div class="flex flex-col items-start">
      <div
        class="mx-auto mb-12 w-full max-w-lg items-start justify-between gap-5 md:mb-18 lg:mb-20"
      >
        <p class="kicker mb-3 text-center md:mb-4">{kicker}</p>
        <h2
          class="mb-5 text-center font-heading text-5xl md:mb-6 md:text-7xl lg:text-8xl"
        >
          {headline}
        </h2>
        <p class="text-center font-body text-neutral-dark md:text-md">
          {body}
        </p>
      </div>
      <div
        class="grid grid-cols-1 items-start gap-y-8 md:grid-cols-2 md:gap-x-4 md:gap-y-4 lg:grid-cols-4"
      >
        {
          cards.map((card) => {
            return (
              <div class="h-full w-full shadow-small">
                <div class="md:h-2/5">
                  <Image
                    src={card.image}
                    alt={card.alt}
                    class="h-full object-cover object-center"
                  />
                </div>
                <div class="p-8 md:p-4">
                  <h3 class="mb-3 text-center font-heading text-4xl md:mb-4 lg:text-2xl xl:text-4xl">
                    {card.title}
                  </h3>
                  <p class="text-center font-body text-neutral-dark">
                    {card.description}
                  </p>
                </div>
              </div>
            );
          })
        }
      </div>
      <div
        class="mt-12 flex w-full flex-wrap items-center justify-center gap-4 md:mt-18 lg:mt-20"
      >
        <Button
          title="View Playlist"
          variant="secondary"
          className="button-secondary"
        >
          <a href={buttons[0].href}>{buttons[0].title}</a>
        </Button>
        <Button
          title="View Schedule"
          variant="link"
          size="link"
          className="button-link"
        >
          <a href={buttons[1].href}>{buttons[1].title}</a>
        </Button>
      </div>
    </div>
  </div>
</section>
