---
// MAIN LAYOUT

// Components
import { Navbar, Footer } from "../components";
import PageTransition from "../components/decorative/PageTransition";
import {
  FontPreloader,
  OrganizationSchema,
  OpenGraph,
  Favicon,
  Seo,
} from "../components/layout";

// Styles
import "../styles/global.css";
import "../styles/fonts.css";

// Types
import type { Link } from "../types/types";
import type { SeoMeta } from "../data/seo";

// Data
import { NAME, FACEBOOK_URL, INSTAGRAM_URL, YOUTUBE_URL } from "../data/consts";
import { slugs } from "../data/consts";

const primaryLinks: Link[] = [
  { href: slugs.weddings, text: "Weddings" },
  { href: slugs.privateEvents, text: "Private Events" },
];

const primaryButton: Link = {
  href: slugs.contact,
  text: "Contact Us",
};

const secondaryButton: Link = {
  href: slugs.schedule,
  text: "Schedule",
};

const secondaryLinks: Link[] = [
  {
    href: slugs.about,
    title: "About Us",
    description: "Discover The Benderz.",
    iconSrc: "",
  },
  {
    href: slugs.photos,
    title: "Photos",
    description: "Visit our photo gallery.",
    iconSrc: "",
  },
  {
    href: slugs.venues,
    title: "Venues",
    description: "Explore the locations where we perform.",
    iconSrc: "",
  },
  {
    href: slugs.playlist,
    title: "Playlist",
    description: "Check out our playlist!",
    iconSrc: "",
  },
];

const logoSrc = "/images/the-benderz.svg";

const { seo } = Astro.props as { seo: SeoMeta };
---

<!doctype html>
<html lang="en">
  <head>
    <Favicon />
    <Seo {...seo} />
    <FontPreloader />
    <OrganizationSchema />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap.xml" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <PageTransition client:only>
      <Navbar
        primaryButton={primaryButton}
        secondaryButton={secondaryButton}
        primaryLinks={primaryLinks}
        secondaryLinks={secondaryLinks}
        logoSrc={logoSrc}
        client:load
      />

      <slot />

      <Footer
        logoSrc={logoSrc}
        bigLogoSrc={`/images/the-benderz-2.svg`}
        companyName={NAME}
        newsletterText="Subscribe to our newsletter"
        links={{
          whatWeDo: [
            { text: "Weddings", href: slugs.weddings },
            { text: "Private Events", href: slugs.privateEvents },
            { text: "Upcoming Shows", href: slugs.schedule },
          ],
          moreInfo: [
            { text: "About Us", href: slugs.about },
            { text: "Playlist", href: slugs.playlist },
            { text: "Photos", href: slugs.photos },
            { text: "Contact Us", href: slugs.contact },
          ],
          followUs: [
            { text: "Facebook", href: FACEBOOK_URL },
            { text: "Instagram", href: INSTAGRAM_URL },
            { text: "Youtube", href: YOUTUBE_URL },
          ],
        }}
        footerText="The Benderz are a high-energy party band from Philly, bringing nonstop music and electric vibes to clubs, casinos, and private events up and down the East Coast. "
        policies={[]}
        footerImageSrc="src/assets/images/footer-bg.svg"
      />
    </PageTransition>
  </body>
</html>
