---
// Components
import { Navbar, Footer } from "@/components";
import PageTransition from "@/components/decorative/PageTransition";
import {
  FontPreloader,
  OrganizationSchema,
  Favicon,
  Seo,
} from "@/components/layout";

// Styles
import "@/styles/global.css";
import "@/styles/fonts.css";

// Types
import type { Link } from "@/types/types";
import type { SeoMeta } from "@/data/seo";

// Data
import { NAME, FACEBOOK_URL, INSTAGRAM_URL, YOUTUBE_URL } from "@/data/consts";
import { slugs } from "@/data/consts";

const primaryLinks: Link[] = [
  {
    href: slugs.weddings,
    text: "Weddings",
    ariaLabel: "Learn more about The Benderz wedding experience",
  },
  {
    href: slugs.privateEvents,
    text: "Private Events",
    ariaLabel: "Learn more about The Benderz private event experience",
  },
];

const primaryButton: Link = {
  href: slugs.contact,
  text: "Contact Us",
  ariaLabel: "Let's book your party!",
};

const secondaryButton: Link = {
  href: slugs.schedule,
  text: "Schedule",
  ariaLabel: "View The Benderz schedule",
};

const secondaryLinks: Link[] = [
  {
    href: slugs.about,
    title: "About Us",
    description: "Discover The Benderz.",
    iconSrc: "",
    ariaLabel: "Learn more about The Benderz",
  },
  {
    href: slugs.photos,
    title: "Photos",
    description: "Visit our photo gallery.",
    iconSrc: "",
    ariaLabel: "Visit The Benderz photo gallery",
  },
  {
    href: slugs.venues,
    title: "Venues",
    description: "Explore the locations where we perform.",
    iconSrc: "",
    ariaLabel: "View the venues we play and love",
  },
  {
    href: slugs.playlist,
    title: "Playlist",
    description: "Check out our playlist!",
    iconSrc: "",
    ariaLabel: "Check out our playlist",
  },
];

const logoSrc = "/images/the-benderz.svg";

const { seo } = Astro.props as { seo: SeoMeta };
---

<!doctype html>
<html lang="en">
  <head>
    <FontPreloader />
    <Favicon />
    <Seo {...seo} />
    <OrganizationSchema />
    <link rel="sitemap" href="/sitemap.xml" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <PageTransition client:only>
      <Navbar
        primaryButton={primaryButton}
        secondaryButton={secondaryButton}
        primaryLinks={primaryLinks}
        secondaryLinks={secondaryLinks}
        logoSrc={logoSrc}
        client:load
      />

      <slot />

      <Footer
        logoSrc={logoSrc}
        bigLogoSrc={`/images/the-benderz-2.svg`}
        companyName={NAME}
        newsletterText="Subscribe to our newsletter"
        links={{
          whatWeDo: [
            {
              text: "Weddings",
              href: slugs.weddings,
              ariaLabel: "Learn more about The Benderz wedding experience",
            },
            {
              text: "Private Events",
              href: slugs.privateEvents,
              ariaLabel:
                "Learn more about The Benderz private event experience",
            },
            {
              text: "Upcoming Shows",
              href: slugs.schedule,
              ariaLabel: "View our schedule",
            },
          ],
          moreInfo: [
            {
              text: "About Us",
              href: slugs.about,
              ariaLabel: "Learn more about The Benderz",
            },
            {
              text: "Playlist",
              href: slugs.playlist,
              ariaLabel: "Check out our playlist",
            },
            {
              text: "Photos",
              href: slugs.photos,
              ariaLabel: "Check out our photos!",
            },
            {
              text: "Contact Us",
              href: slugs.contact,
              ariaLabel: "Book The Benderz!",
            },
          ],
          followUs: [
            {
              text: "Facebook",
              href: FACEBOOK_URL,
              ariaLabel: "Follow The Benderz on Facebook",
            },
            {
              text: "Instagram",
              href: INSTAGRAM_URL,
              ariaLabel: "Follow The Benderz on Instagram",
            },
            {
              text: "Youtube",
              href: YOUTUBE_URL,
              ariaLabel: "Follow The Benderz on YouTube",
            },
          ],
        }}
        footerText="The Benderz are a high-energy party band from Philly, bringing nonstop music and electric vibes to clubs, casinos, and private events up and down the East Coast. "
        policies={[]}
        footerImageSrc="src/assets/images/footer-bg.svg"
      />
    </PageTransition>
  </body>
</html>
