---
// MAIN LAYOUT

// Components
import { Navbar, Footer } from "../components";
import PageTransition from "../components/decorative/PageTransition";

// Styles
import "../styles/global.css";
import "../styles/fonts.css";

// Types
import type { Link } from "../types/types";

// Data
import { NAME, FACEBOOK_URL, INSTAGRAM_URL, YOUTUBE_URL } from "../data/consts";
import { organizationSchema } from "../data/organizationSchema";
import { slugs } from "../data/consts";

const primaryLinks: Link[] = [
  { href: slugs.weddings, text: "Weddings" },
  { href: slugs.privateEvents, text: "Private Events" },
];

const primaryButton: Link = {
  href: slugs.contact,
  text: "Contact Us",
};

const secondaryButton: Link = {
  href: slugs.schedule,
  text: "Schedule",
};

const secondaryLinks: Link[] = [
  {
    href: slugs.about,
    title: "About Us",
    description: "Discover The Benderz.",
    iconSrc: "",
  },
  {
    href: slugs.photos,
    title: "Photos",
    description: "Visit our photo gallery.",
    iconSrc: "",
  },
  {
    href: slugs.venues,
    title: "Venues",
    description: "Explore the locations where we perform.",
    iconSrc: "",
  },
  {
    href: slugs.playlist,
    title: "Playlist",
    description: "Check out our playlist!",
    iconSrc: "",
  },
];

const logoSrc = "/images/the-benderz.svg";

const {
  title = "The Benderz | Your Party Starts Here",
  description = "The Benderz are a high-energy party band from Philly, bringing nonstop music and electric vibes to clubs, casinos, and private events up and down the East Coast.",
} = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Organization Schema -->
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(organizationSchema)}
    />

    <!-- Font Preloader -->
    <link
      rel="preload"
      href="/fonts/bebas-neue-v14-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <!-- Open Graph -->
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/images/opengraph.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="thebenderz.com" />
    <meta property="twitter:url" content={canonicalUrl} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/images/opengraph.png" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Benderz" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap.xml" />

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Navbar
      primaryButton={primaryButton}
      secondaryButton={secondaryButton}
      primaryLinks={primaryLinks}
      secondaryLinks={secondaryLinks}
      logoSrc={logoSrc}
      client:load
    />

    <slot />

    <Footer
      logoSrc={logoSrc}
      bigLogoSrc={`/images/the-benderz-2.svg`}
      companyName={NAME}
      newsletterText="Subscribe to our newsletter"
      links={{
        whatWeDo: [
          { text: "Weddings", href: slugs.weddings },
          { text: "Private Events", href: slugs.privateEvents },
          { text: "Upcoming Shows", href: slugs.schedule },
        ],
        moreInfo: [
          { text: "About Us", href: slugs.about },
          { text: "Playlist", href: slugs.playlist },
          { text: "Photos", href: slugs.photos },
          { text: "Contact Us", href: slugs.contact },
        ],
        followUs: [
          { text: "Facebook", href: FACEBOOK_URL },
          { text: "Instagram", href: INSTAGRAM_URL },
          { text: "Youtube", href: YOUTUBE_URL },
        ],
      }}
      footerText="The Benderz are a high-energy party band from Philly, bringing nonstop music and electric vibes to clubs, casinos, and private events up and down the East Coast. "
      policies={[]}
      footerImageSrc="src/assets/images/footer-bg.svg"
    />
  </body>
</html>
