---
// MAIN LAYOUT

// Global components
import { Navbar9 } from "../components/global/Navbar9";
import { Footer16 } from "../components/global/Footer16";

// Styles
import "../styles/global.css";
import "../styles/fonts.css";

// Types
import type { Link } from "../types/types";

// Data
import { NAME, FACEBOOK_URL, INSTAGRAM_URL, YOUTUBE_URL } from "../data/consts";
import { slugs } from "../data/consts";

const primaryLinks: Link[] = [
  { href: slugs.weddings, text: "Weddings" },
  { href: slugs.privateEvents, text: "Private Events" },
  { href: slugs.playlist, text: "Playlist" },
  { href: slugs.testimonials, text: "Testimonials" },
];

const primaryButton: Link = {
  href: slugs.contact,
  text: "Contact Us",
};

const secondaryButton: Link = {
  href: slugs.schedule,
  text: "Schedule",
};

const secondaryLinks: Link[] = [
  {
    href: slugs.about,
    title: "About Us",
    description: "Discover The Benderz.",
    iconSrc: "",
  },
  {
    href: slugs.photos,
    title: "Photos",
    description: "Visit our photo gallery.",
    iconSrc: "",
  },
  {
    href: slugs.venues,
    title: "Venues",
    description: "Explore the locations where we perform.",
    iconSrc: "",
  },
  {
    href: slugs.blog,
    title: "Blog",
    description: "Check out our blog!",
    iconSrc: "",
  },
];

const logoSrc = "/src/assets/images/the-benderz.svg";

const { title = "", description = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Navbar9
      primaryButton={primaryButton}
      secondaryButton={secondaryButton}
      primaryLinks={primaryLinks}
      secondaryLinks={secondaryLinks}
      logoSrc={logoSrc}
      client:load
    />

    <slot />

    <Footer16
      logoSrc={logoSrc}
      bigLogoSrc={`/images/the-benderz-2.svg`}
      companyName={NAME}
      newsletterText="Subscribe to our newsletter"
      links={{
        whatWeDo: [
          { text: "Weddings", href: slugs.weddings },
          { text: "Private Events", href: slugs.privateEvents },
          { text: "Upcoming Shows", href: slugs.schedule },
          { text: "Playlist", href: slugs.playlist },
        ],
        moreInfo: [
          { text: "About Us", href: slugs.about },
          { text: "Testimonials", href: slugs.testimonials },
          { text: "Photos", href: slugs.photos },
          { text: "Contact Us", href: slugs.contact },
        ],
        followUs: [
          { text: "Facebook", href: FACEBOOK_URL },
          { text: "Instagram", href: INSTAGRAM_URL },
          { text: "Youtube", href: YOUTUBE_URL },
        ],
      }}
      footerText=""
      policies={[]}
      client:load
    />
  </body>
</html>

<style>
  html {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
  }
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
